discord.py[voice]==1.5.1
requests
pynacl
asyncio
Pillow
numpy
matplotlib
fuzzywuzzy[speedup]
python-Levenshtein
pyyaml
aiogoogle
pyfy
aioify
imgurpython
scrapy
tabulate
wolframalpha
youtube_dl
google-cloud-translate
google-cloud-texttospeech
googletrans
motor
twitchio
distro
wavelink
git+https://github.com/Rapptz/discord-ext-menus.git
meross_iot==0.4.0.0rc1
colorlog
twitchapi
lxml
spotipy
