discord.py[voice]
requests
pynacl
asyncio
Pillow
numpy
fuzzywuzzy[speedup]
python-Levenshtein
pyyaml
aiogoogle
pyfy
lavalink
aioify
selenium
imgurpython
scrapy
tabulate
wolframalpha
youtube_dl
google-cloud-translate
google-cloud-texttospeech
googletrans
motor
twitchio
